@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body,html {
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}

.hero-image{
  background-image: url(/assets/images/Rectangle\ 26.png);
}
.bg-image{
  background-image: url(/assets/images/Rectangle\ 203.png);
}
/* .poppins{
  font-family: "poppins", sans-serif;
} */
.custom-bg-gradient{
  background: var(--yellow, linear-gradient(90deg, #F90 0%, #F2CB00 100%));
}
.text-gradient{
  background: -webkit-linear-gradient(#f90 0%, #f2cb00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.custom-shadow{
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12); 
}