@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body,html {
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}

.hero-image{
  background-image: url(/assets/images/Rectangle\ 26.png);
}
.bg-image{
  background-image: url(/assets/images/Rectangle\ 203.png);
}
.custom-bg-gradient{
  background: var(--yellow, linear-gradient(90deg, #F90 0%, #F2CB00 100%));
}
.text-gradient{
  background: -webkit-linear-gradient(#f90 0%, #f2cb00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.custom-shadow{
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12); 
}
.showMenu {
  transform: translateY(0);
}
.contact-bg{
  background-image: url(/assets/images/Rectangle\ 34.png);
}
.contact-map{
  background-image: url(/assets/images/Rectangle\ 35.png);
}
