@tailwind base;
@tailwind components;
@tailwind utilities;
.hero-image{
  background-image: url(./assets/images/Rectangle\ 26.png);
}
.bg-image{
  background-image: url(./assets/images/Rectangle\ 203.png);
}
.poppins{
  font-family: "poppins", sans-serif;
}
.custom-bg-gradient{
  background: var(--yellow, linear-gradient(90deg, #F90 0%, #F2CB00 100%));
}